<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Photom Zoom Pro</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  </head>
  <body>
    <div id="demo">
      <div
        v-if="changeImgPosition"
        style="width:100px;display:inline-block"
      ></div>
      <vue-photo-zoom-pro
        style="width:60%;display:inline-block"
        :width="width"
        :height="height"
        :url="url"
        :type="type"
        :scale="scale"
        :out-zoomer="showType"
        :zoomer-style="{
      'background-color': taobao ? 'transparent' : 'rgba(0,0,0,0)', 'filter': filter ?  'drop-shadow(16px 16px 20px red) invert(75%)' : ''
    }"
      >
        <template v-if="taobao" slot="zoomer">
          <div class="ks-imagezoom-wrap"></div>
        </template>
      </vue-photo-zoom-pro>
      <div style="width:38%;display:inline-block;vertical-align:top;">
        <p>！小提示：可以进行滚动放大</p>
        <p>当前放大倍数：{{ scale }}</p>
        <p>当前放大镜宽度：{{ width }}</p>
        <button style="margin-top:8px" @click="addSelectorWidth">
          增加放大器宽度(add width)
        </button>
        <button style="margin-top:8px" @click="subSelectorWidth">
          减小放大器宽度(cut width)
        </button>
        <button
          style="margin-top:8px"
          @click="changeImgPosition = !changeImgPosition"
        >
          改变图片位置(change position)
        </button>
        <button style="margin-top:8px" @click="addScale">
          增加放大倍数(add scale)
        </button>
        <button style="margin-top:8px" @click="subScale">
          减小放大倍数(cut scale)
        </button>
        <button style="margin-top:8px" @click="changeImg">
          更换图片(change img url)
        </button>
        <button style="margin-top:8px" @click="changeType">
          更换放大镜类型(change type)
        </button>
        <button style="margin-top:8px" @click="changeShowType">
          更换放大方式(change type of scale)
        </button>
        <button style="margin-top:8px" @click="changeToTaobao">
          类淘宝放大镜
        </button>
        <button style="margin-top:8px" @click="filter = !filter">滤镜</button>
        <button style="margin-top:8px" @click="changeToMultipleWidth">
          高宽不同
        </button>
      </div>
    </div>
    <script src="../dist/vue-photo-zoom-pro.global.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
